body > div.container-lg.px-3.my-5.markdown-body > h1 {
    display: none !important;
}

body,html {
    background-color: rgb(30,30,30);
    color: white;
}

pre.highlight {
    background-color: rgb(50,50,50) !important;
}

div.highlight {
    background-color: transparent !important;
}

.markdown-body blockquote {
    color: #6a737d;
    border-left: 0.25em solid rgb(100,100,100);
}

.markdown-body code, .markdown-body tt {
    background-color: rgba(100,100,100,0.5);
}