@charset "utf-8";
@keyframes 加载圆圈 {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(405deg);
    }
}
@keyframes 匀速转 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes 上下晃悠 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(16px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes 隐藏 {
    0% {
        filter: opacity(1);
    }
    100% {
        display: none;
        filter: opacity(0);
    }
}
@keyframes 显示 {
    0% {
        filter: opacity(0);
        transform: translateY(64px);
    }
    100% {
        filter: opacity(1);
        transform: translateY(0px);
    }
}
@keyframes 闪烁 {
    0% {
        filter: opacity(0);
    }
    50% {
        filter: opacity(0);
    }
    50.1% {
        filter: opacity(1);
    }
    100% {
        filter: opacity(1);
    }
}
@keyframes 标记 {
    0% {
        background-color: mark;
        color: marktext;
    }
    75% {
        background-color: mark;
        color: marktext;
    }
    100% {
        background-color: inherit;
        color: inherit;
    }
}

::selection {
    background-color: #888;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #8888;
    border-radius: var(--border-radius);
}
::-webkit-scrollbar-thumb:active {
    background-color: #888;
}

@media (prefers-color-scheme: light) {
    html {
        --theme-color: #ddd;
        --theme-color-h: 0;
        --theme-color-s: 0;
        --theme-color-l: 0.87;
        --theme-color-transparent: #fff8;
        --text-color: #222;
    }
}
@media (prefers-color-scheme: dark) {
    html {
        --theme-color: #222;
        --theme-color-h: 0;
        --theme-color-s: 0;
        --theme-color-l: 0.13;
        --theme-color-transparent: #fff2;
        --text-color: #ddd;
    }
}
html {
    --bg-color: hsl(
        calc(var(--theme-color-h) * 360),
        calc(var(--theme-color-s) * 100%),
        calc(var(--theme-color-l) * 100% - 3%)
    );
    --bg-color-dark: hsl(
        calc(var(--theme-color-h) * 360),
        calc(var(--theme-color-s) * 100%),
        calc(var(--theme-color-l) * 100%)
    );
    --bg-color-dark-2: hsl(
        calc(var(--theme-color-h) * 360),
        calc(var(--theme-color-s) * 100%),
        calc(var(--theme-color-l) * 100% + 3%)
    );
    --bg-color-light: 0;
    --link-color: var(--text-color);
}
@media (forced-colors: active) {
    a:hover {
        outline: 2px solid #ffff00;
    }
    svg.fill {
        fill: #ffff00 !important;
    }
    svg.stroke {
        stroke: #ffff00 !important;
    }
}
@media (prefers-reduced-motion: reduce) {
    *,
    *::after {
        animation-duration: 0s !important;
        transition: none !important;
    }
    html {
        scroll-behavior: auto !important;
    }
}
@media (prefers-reduced-data: reduce) {
    .背景图片 {
        background: none !important;
    }
}

html {
    --border-radius: 8px;
    scroll-behavior: smooth;
}
body {
    background-color: var(--theme-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.隐藏链接 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
}

.隐藏链接:focus-visible {
    width: auto;
    height: auto;
    z-index: 999;
}

span#联系方式 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

span#联系方式 * {
    margin-left: 2px;
    margin-right: 2px;
}
a,
svg {
    color: var(--link-color);
}
a {
    text-decoration: 1px underline var(--link-color);
}
a:hover,
a:focus-visible {
    text-decoration: 1px underline transparent;
}
a:active {
}
a.无滤镜,
a.无滤镜:hover,
a.无滤镜:focus-visible,
a.无滤镜:active {
    filter: none;
}
a.外链::after,
a.外链:hover:active::after {
    content: "↗";
}

a[title]::after {
    content: "" !important;
}
abbr {
    cursor: help;
    text-decoration: dashed underline var(--theme-color);
}
img,
video {
    background-color: var(--theme-color-transparent);
    border-radius: var(--border-radius);
}
nav h1 {
    color: var(--theme-color);
}
*:disabled {
    cursor: not-allowed;
}
*:focus-visible {
    outline: 2px solid var(--theme-color);
}
.标记 {
    animation-duration: 3s;
    animation-name: 标记;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transition: 0.5s all;
}
svg[data-icon] {
    background-color: var(--theme-color);
    border-radius: 50%;
}
.fill {
    fill: var(--link-color);
}
.stroke {
    stroke: var(--link-color);
}
#main {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    /* animation-name: 显示; */
    display: none;
    align-items: flex-start;
    justify-content: space-around;
    filter: opacity(0);
    width: 100%;
    max-width: 1500px;
}
#main .左 {
    width: 25%;
}
#main .右 {
    width: 75%;
}
#copyright {
    background-color: var(--bg-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
.rss {
    transform: translate(-4px, 2px) rotate(45deg);
}
.date {
    color: var(--text-color);
    filter: drop-shadow(2px 4px 6px #333) opacity(0.5);
    transition: 0.5s color, 0.5s filter;
}
.date:hover {
    filter: drop-shadow(2px 4px 6px #333) opacity(1);
}
.组 {
    display: flex;
    max-width: 100%;
    overflow: auto;
}
.组 > section {
    max-width: 256px;
    min-width: 256px;
}
blockquote {
    background-color: var(--bg-color-dark-2);
    border: 1px solid transparent;
    border-left: 8px solid var(--theme-color-transparent);
    border-radius: var(--border-radius);
    margin: 0px;
    padding: 4px;
}
code {
    background-color: var(--theme-color-transparent);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    padding: 1.5px;
}
pre {
    background-color: transparent;
    border: 1px solid var(--theme-color-transparent);
    border-radius: var(--border-radius);
    overflow: auto;
}
pre code {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
section {
    background-color: var(--bg-color);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    margin: 8px;
    padding: 12px;
    word-break: break-word;
}
section section {
    background-color: var(--bg-color-dark);
}
section:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 12px 15px 0px,
        rgba(0, 0, 0, 0.19) 0px 17px 50px 0px;
}
section h2 {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
section h2 svg {
    margin-right: 8px;
}
section img,
section video {
    max-width: 100%;
    height: auto;
}

hr {
    border: 1px solid var(--theme-color-transparent);
}
@media only screen and (max-width: 960px) {
    #main {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    section {
        margin-top: unset;
        padding: 8px;
    }
    #main .左,
    #main .右 {
        width: 100%;
    }
    .左 > section,
    .右 > section {
        width: unset;
    }
}

.特小尺寸 {
    width: 24px;
    height: 24px;
}
.小尺寸 {
    width: 32px;
    height: 32px;
}
.中尺寸 {
    width: 48px;
    height: 48px;
}
.大尺寸 {
    width: 128px;
    height: 128px;
}
.头像 {
    border-radius: 50%;
}

#加载界面 {
    width: 100%;
    height: 70vh;
}
#加载界面 * {
    position: absolute;
    top: calc(50vh - 24px);
    left: calc(50% - 24px);
}
#加载界面 .头像 {
    margin-top: 6px;
    margin-left: 6px;
    width: 36px;
    height: 36px;
}
#加载界面 .加载圆圈 {
    animation-duration: 1s;
    animation-name: 加载圆圈;
    animation-iteration-count: infinite;
    width: 48px;
    height: 48px;
}

#导航栏 {
    background-image: linear-gradient(var(--theme-color), rgba(0, 0, 0, 0));
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
    height: 48px;
    z-index: 998;
}
#导航栏 .左,
#导航栏 .右 {
    display: flex;
}
#导航栏 .左 *,
#导航栏 .右 * {
    margin-left: 8px;
    margin-right: 8px;
}
#导航栏 a {
    color: var(--text-color);
    text-decoration: none;
}

#网抑云阴乐封面 {
    animation-duration: 5s;
    animation-name: 匀速转;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;
    display: none;
}
#网抑云阴乐封面[src*="http"] {
    display: block;
}
#网抑云阴乐封面[src*="http"] + svg {
    display: none;
}
div.侧边按钮 {
    position: fixed;
    right: 0;
    z-index: 998;
}
div#主侧边按钮 {
    top: calc(75vh - 33px * 4);
}
div.侧边按钮 button {
    cursor: pointer;
}
div.侧边按钮 .fill {
    fill: #000;
}
div.侧边按钮 .stroke {
    stroke: #000;
}
div.侧边按钮 > * {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 12px 15px 0px,
        rgba(0, 0, 0, 0.19) 0px 17px 50px 0px;
    border: 1px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    filter: opacity(0.5);
    margin-top: 5px;
    padding: 4px;
    position: relative;
    transform: translateX(-4px);
}
div.侧边按钮 > *:hover,
div.侧边按钮 > *:focus-visible,
div.侧边按钮 > *:focus-within {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    filter: opacity(1);
    transform: translateX(0);
}
div.侧边按钮 > #网抑云阴乐 {
    z-index: 1;
}
div.侧边按钮 > #切换主题 {
    z-index: 0;
}
div.侧边按钮 > #切换主题:hover,
div.侧边按钮 > #切换主题:focus,
div.侧边按钮 > #切换主题:focus-within {
    transform: translateX(calc(-32px * 5));
}
div.侧边按钮 > #网抑云阴乐:hover,
div.侧边按钮 > #网抑云阴乐:focus,
div.侧边按钮 > #网抑云阴乐:focus-within {
    transform: translateX(calc(-32px * 6));
}
div.侧边按钮 .拥有更多选项 > .更多选项 {
    background: #fff;
    border: 1px solid transparent;
    display: flex;
    filter: opacity(0);
    padding-right: 32px;
    pointer-events: none;
    position: absolute;
    transform: translateX(28px) translateY(-5px);
    height: 32px;
    flex-direction: row;
    flex-wrap: wrap;
}
div.侧边按钮 #切换主题 > #所有主题 {
    width: calc(32px * 4);
    height: calc(32px * 3);
}
div.侧边按钮 #网抑云阴乐 #歌词 {
    font-size: 12px;
    position: absolute;
    user-select: none;
    overflow: hidden;
    pointer-events: none;
    right: 48px;
    text-align: end;
    white-space: nowrap;
}

div.侧边按钮 #网抑云阴乐 #歌词 p {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}
div.侧边按钮 #网抑云阴乐 > #阴乐控件 {
    width: calc(32px * 5);
}
div.侧边按钮 #网抑云阴乐 #播放列表 {
    background: #fff;
    color: #000;
    font-size: 0.9em;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    position: absolute;
    top: 32px;
    left: -1px;
    width: calc(31px * 6 - 3px);
    height: 118px;
    flex-direction: column;
    flex-wrap: nowrap;
}

div.侧边按钮 #网抑云阴乐 #播放列表 li {
    border-top: 1px solid #888;
    cursor: pointer;
    display: table-caption;
    user-select: none;
    white-space: nowrap;
}
div.侧边按钮 #网抑云阴乐 #播放列表 li::marker {
}
div.侧边按钮 #网抑云阴乐 #播放列表 li.正在播放,
div.侧边按钮 #网抑云阴乐 #播放列表 li:hover {
    background-color: #ccc;
}
div.侧边按钮 #网抑云阴乐 #播放列表 li.正在播放::before {
    background-color: var(--theme-color);
    display: block;
    width: 5px;
    height: 19px;
    position: absolute;
    left: 0px;
    content: "";
}

div.侧边按钮 #网抑云阴乐 #播放列表 li * {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.侧边按钮 .拥有更多选项:hover > .更多选项,
div.侧边按钮 .拥有更多选项:focus > .更多选项,
.更多选项:focus-within {
    pointer-events: all !important;
    filter: opacity(1) !important;
}
div.侧边按钮 .拥有更多选项 > .更多选项 > button {
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    width: 24px;
    height: 24px;
}
div.侧边按钮 .拥有更多选项 > .更多选项 > *:hover,
div.侧边按钮 .拥有更多选项 > .更多选项 > *:focus-visible {
    background-color: #ccc;
}

div.侧边按钮 .拥有更多选项 > .更多选项 > *:hover {
    background-color: #888;
}

div.通知 {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: 显示;
    /* animation-name: 隐藏; */
    background-color: var(--theme-color);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    box-shadow: rgb(0 0 0 / 24%) 0px 12px 15px 0px,
        rgb(0 0 0 / 19%) 0px 17px 50px 0px;
    filter: opacity(0);
    margin: 16px;
    padding: 8px;
    pointer-events: none;
    position: fixed;
    bottom: 32px;
    word-break: break-all;
    z-index: 1000;
}

.背景图片 {
    background: url(/img/bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 8px;
    width: 100%;
    height: 30vh;
}
.背景图片 > div {
    -webkit-backdrop-filter: brightness(0.8);
    backdrop-filter: brightness(0.8);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    stroke: white;
    width: 100%;
    height: 30vh;
}
.背景图片:hover > div.文字 {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    filter: opacity(0);
}
#个性签名 {
    color: #fff;
    font-size: 16px;
    padding: 36px;
    text-align: center;
    word-break: break-all;
}
#个性签名::after {
    animation: 闪烁;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    content: "|";
    font-style: initial;
}
section#我 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 64px;
}
section#我 img {
    margin-bottom: -64px;
    position: relative;
    top: -64px;
}

section#我 img:hover {
    transform: rotateZ(360deg);
}
#main > div.右 > section:nth-child(1) {
    margin-top: 64px;
}

#评论区 {
}
.评论 {
}
.评论 .用户信息 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.评论 .用户信息 > * {
    margin-left: 8px;
}
.评论 > * {
}
.评论 .评论正文 {
    margin: 4px;
}

.hljs {
    background-color: transparent !important;
}

#技能 {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 8px;
}

#技能 > p {
    margin: 4px;
    margin-bottom: 16px;
}

#技能 > p > span {
    background-color: var(--theme-color-transparent);
    border: 1px solid;
    border-radius: var(--border-radius);
    display: block;
    margin-top: 8px;
    height: 2px;
}
#技能 > p > span::before {
    content: attr(aria-label);
}
