section#我 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 64px;
}
section#我 img {
    margin-bottom: -64px;
    position: relative;
    top: -64px;
}
#main > div.右 > section:nth-child(1) {
    margin-top: 64px;
}
