.背景图片 {
    background: url(https://bing.img.run/rand.php) no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 8px;
    width: 100%;
    height: 30vh;
}
.背景图片 > div {
    backdrop-filter: brightness(0.8);
    -webkit-backdrop-filter: brightness(0.8);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    stroke: white;
    width: 100%;
    height: 30vh;
}
.背景图片:hover > div.文字 {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    filter: opacity(0);
}
#个性签名 {
    font-size: 16px;
    padding: 36px;
    word-break: break-all;
}
#个性签名::after {
    animation: 闪烁;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    content: "|";
    font-style: initial;
}

section#我 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 64px;
}
section#我 img {
    margin-bottom: -64px;
    position: relative;
    top: -64px;
}
#main > div.右 > section:nth-child(1) {
    margin-top: 64px;
}
